body{
  font-family: 'Comfortaa', 'verdana', san-serif;
  background: linear-gradient(70deg, #1bbbbb, #e8ffff);
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

h2 {
  margin: 0px 0px 10px 0px;
}

#nav {
  display: flex;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.menu {
  display: flex;
  justify-content: center;
}

button {
  margin: 6px 4px;
  width: 100px;
  border: 0;
  border-radius: 5px;
  background-color: paleturquoise;
  font-family: 'Comfortaa', 'verdana', san-serif;
  font-size: 100%;
  padding-top: 5px;
  box-sizing: border-box;
  color: #1bbbbb;
}

#content {
  width: 600px;
  border: 6px double black;
  border-radius: 5px;
  background-color: paleturquoise;
  font-family: 'Comfortaa', 'verdana', san-serif;
  font-size: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  line-height: 1.6em;
}

#workspaces {
  display: flex;
  margin-left: 50%; //this needs to be edited with js on toggle-click, to animate between the two workspaces, 50% left or right
  margin-right: 0%;
  transition:margin 1.5s;
  transition-timing-function: cubic-bezier(0.22,0,0.28,1);
}

.workspace {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition:opacity 0.4s;
}

#workspace-controls {
  display: flex;
  align-items: center;
}

#workspace-controls > button {
  width: 34px;
  height: 34px;
  border: 0;
  background-color: #e8ffff;
}

.add-remove-conrols {
  display: flex;
}

.add-remove-conrols > button {
  width: 45%;
  height: 34px;
  border: 0;
  background-color: #e8ffff;
  margin: 6px 4px 0px 4px;
  color: #1bbbbb;
}

#instrument-add-controls .add-remove-conrols > button {
  background-color: #1bbbbb;
  color: #e8ffff;
}

.transport-label {
  margin: 0;
  padding: 4px 0px 6px 2px;
}


#sequencer-transport-bar-section-controls, #sequencer-transport-bar-instrument-controls {
  display: flex;
  flex-direction: column;
  border: 2px solid paleturquoise;
  border-radius: 7px;
  background: paleturquoise;
  padding: 5px;
  margin: 0px 4px;
}

label {
  margin: 1em 0;
}

input#song-name {
  padding: 8px;
  border: 0px;
  border-radius: 5px;
  background-color: paleturquoise;
  font-family: 'Comfortaa', 'verdana', san-serif;
  font-size: 100%;
}

input#add-instrument-text {
  padding: 8px;
  border: 0px;
  border-radius: 5px;
  background-color: #1bbbbb;
  color: paleturquoise;
  font-family: 'Comfortaa', 'verdana', san-serif;
  font-size: 100%;
  width: 140px;
  height: 30px;
}
input#add-instrument-text::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: paleturquoise;
    opacity: 1; /* Firefox */
}

#load-song-dialogue-box, #create-song-dialogue-box {
  margin-top: 0px;
  transform-origin: 50% 15%;
  transform: scaleY(0);
  transition-timing-function: ease;
  transition:all 0.5s;
}

#create-song-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-song-form > input {
  width: 100%;
}

form#instrument-add-controls {
  margin-bottom: 0px;
}

#create-sqnt-button {
  background-color: #1bbbbb;
  border: 0;
  color: paleturquoise;
  width: 120px;
}

#dialogue-text {
  position: relative;
  text-align: center;
}

#load-sqnt-textarea {
  margin: 10px 4px;
  padding: 20px;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  background-color: paleturquoise;
  font-family: 'Comfortaa', 'verdana', san-serif;
  font-size: 100%;
  box-sizing: border-box;
  min-height: 130px;
}

#load-sqnt-button {
  position: absolute;
  right: 0;
  top: 62px;
  background-color: #1bbbbb;
  border: 0;
  color: paleturquoise;
}

#demo-sqnt-button {
  position: absolute;
  right: 0;
  top: 100px;
  background-color: #1bbbbb;
  border: 0;
  color: paleturquoise;
}

hr {
  border: 1px solid #1bbbbb;
  margin: 20px;
  width: 610px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #1bbbbb;
    opacity: 1; /* Firefox */
}

#sequencer-title {
  text-align: center;
}
#sequencer-transport-bar {
  display: flex;
  justify-content: center;
}
#sequencer-song-controls {
  transform-origin: 50% 15%;
  transform: scaleY(0);
  transition-timing-function: ease;
  transition:transform 0.5s;
}

#transport-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 140px;
  border: 2px solid;
  border-radius: 5px;
  background-color: paleturquoise;
  color: #1bbbbb;
  font-family: 'Comfortaa', 'verdana', san-serif;
  font-size: 100%;
  padding-top: 5px;
  box-sizing: border-box;
  height: 30px;
}

/* Things to do with the main grid system*/

table {
  margin-top: 10px;
  border-radius: 10px;
  padding: 2px;
  border: 2px solid black;
  background-color: black;
  box-sizing: border-box;
  overflow:hidden;
  transition-timing-function: ease-out;
  transition:transform 4s; // we transition the transform
  height:auto;
  transform:scale(1, 1); // after collapse is removed
}
table.collapsed {
  transform:scale(0, 0); // *squish*
  transform-origin:top; // keep the top of the element in the same place. this is optional.
}

tr {
  transition-timing-function: ease;
  transition:transform 0.8s; // note that we're transitioning transform, not height!
  height:auto;
  transform:scaleY(1); // implicit, but good to specify explicitly
}
tr.collapsed {
  transform:scaleY(0); // *squish*
  transform-origin:top; // keep the top of the element in the same place. this is optional.
}

td {
  position: relative;
  border-radius: 10px;
  padding: 0;
  border: 2px solid black;
  background-color: paleturquoise;
  box-sizing: border-box;
  transition-timing-function: ease;
  transition:transform 0.8s; // note that we're transitioning transform, not height!
  height:auto;
  transform:scale(1, 1); // implicit, but good to specify explicitly
}
td.seq_note_cell {
  width: 20px;
  height: 20px;
}
td.vis_note_cell {
  width: 50px;
  height: 50px;
}
td.collapsed {
  transform:scale(0, 0); // *squish*
  transform-origin:top; // keep the top of the element in the same place. this is optional.
}
td.strike {
  filter: hue-rotate(180deg) saturate(0.85);
}

@keyframes fadeOut {
 	0% {
 		background: black;
 	}
 	100% {
 		background: null;
 	}
}

@keyframes washOut {
 	0% {
 		background: white;
 	}
 	100% {
 		background: null;
 	}
}

div.seq-filler {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: black;
}
div.filler {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
div.filler.triggered1 {
  animation: fadeOut 2000ms;
}
div.filler.triggered2 {
  animation: fadeOut 1000ms;
}
div.filler.triggered4 {
  animation: fadeOut 500ms;
}
div.filler.triggered8 {
  animation: fadeOut 250ms;
}
div.filler.triggered16 {
  animation: fadeOut 125ms;
}

div.white-filler {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 10px;
}
div.white-filler.triggered {
  animation: washOut 500ms;
}

/* The top switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8ffff;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  content: attr(text-before);
  opacity: 1;
  position: absolute;
  padding: 4px;
  width: 45%;
  left: 4px;
  bottom: 4px;
  background-color: #e8ffff;
  -webkit-transition: .4s;
  transition: .4s;
  display: inline;
  text-align: center;
  color: #1bbbbb;
}
.slider:after {
  content: attr(text-after);
  opacity: 1;
  position: absolute;
  padding: 4px;
  width: 45%;
  left: 4px;
  bottom: 4px;
  background-color: #1bbbbb;
  -webkit-transition: .4s;
  transition: .4s;
  display: inline;
  text-align: center;
  color: #e8ffff;
}
input:checked + .slider {
  background-color: #1bbbbb;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1bbbbb;
}
input:checked + .slider:before {
  -webkit-transform: translateX(122px);
  -ms-transform: translateX(122px);
  transform: translateX(122px);
}
input:checked + .slider:after {
  -webkit-transform: translateX(122px);
  -ms-transform: translateX(122px);
  transform: translateX(122px);
  opacity: 0;
}
/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}
.slider.round:before {
  border-radius: 5px;
}
.slider.round:after {
  border-radius: 5px;
}

@media only screen
  and (min-device-width: 50px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 25pt;
  }
  button {
    border: 5px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-top: 38px;
  }

  #container {
    width: 100%;
  }
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;

    /*fix for FF unable to apply focus style bug */
    /* border: 1px solid white; */

    /*required for proper track sizing in FF*/
    /* width: 300px; */

    -webkit-appearance: none;
    margin: 10px 0px;
    background-color: transparent;
    border-color: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #1bbbbb;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1bbbbb;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #1bbbbb;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #1bbbbb;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1bbbbb;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid #1bbbbb;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #1bbbbb;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #1bbbbb;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #1bbbbb;
}
input[type=range]:focus::-ms-fill-lower {
    background: #1bbbbb;
}
input[type=range]:focus::-ms-fill-upper {
    background: #1bbbbb;
}
