body{
  font-family: 'Comfortaa', 'verdana', san-serif;
  background: linear-gradient(#e8ffff, #1bbbbb);
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px 4px;
  width: 120px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: paleturquoise;
  font-family: 'Comfortaa', 'verdana', san-serif;
  font-size: 100%;
  padding-top: 5px;
  box-sizing: border-box;
}

#content {
  width: 600px;
  border: 6px double black;
  border-radius: 5px;
  background-color: paleturquoise;
  font-family: 'Comfortaa', 'verdana', san-serif;
  font-size: 100%;
  padding: 4px;
  display: flex;
  align-items: center;
  line-height: 1.6em;
}

#workspaces {
  display: flex;
  margin-left: 50%; //this needs to be edited with js on toggle-click, to animate between the two workspaces, 50% left or right
  margin-right: 0%;
  transition:margin 0.4s;
  transition-timing-function: cubic-bezier(0.22,0,0.28,1);
}

.workspace {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Things to do with the main grid system*/

table {
  margin-top: 50px;
  border-radius: 10px;
  padding: 2px;
  border: 2px solid black;
  background-color: black;
  box-sizing: border-box;
  overflow:hidden;
  transition-timing-function: ease-out;
  transition:transform 4s; // we transition the transform
  height:auto;
  transform:scale(1, 1); // after collapse is removed
}
table.collapsed {
  transform:scale(0, 0); // *squish*
  transform-origin:top; // keep the top of the element in the same place. this is optional.
}

tr {
  transition-timing-function: ease;
  transition:transform 0.8s; // note that we're transitioning transform, not height!
  height:auto;
  transform:scaleY(1); // implicit, but good to specify explicitly
}
tr.collapsed {
  transform:scaleY(0); // *squish*
  transform-origin:top; // keep the top of the element in the same place. this is optional.
}

td {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 0;
  border: 2px solid black;
  background-color: paleturquoise;
  box-sizing: border-box;
  transition-timing-function: ease;
  transition:transform 0.8s; // note that we're transitioning transform, not height!
  height:auto;
  transform:scale(1, 1); // implicit, but good to specify explicitly
}
td.collapsed {
  transform:scale(0, 0); // *squish*
  transform-origin:top; // keep the top of the element in the same place. this is optional.
}

@keyframes fadeOut {
 	0% {
 		background: black
 	}
 	100% {
 		background: null;
 	}
}

div.filler {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
div.filler.triggered1 {
  animation: fadeOut 2000ms;
}
div.filler.triggered2 {
  animation: fadeOut 1000ms;
}
div.filler.triggered4 {
  animation: fadeOut 500ms;
}
div.filler.triggered8 {
  animation: fadeOut 250ms;
}
div.filler.triggered16 {
  animation: fadeOut 125ms;
}

/* The top switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  content: attr(text-before);
  opacity: 1;
  position: absolute;
  padding: 4px;
  width: 45%;
  left: 4px;
  bottom: 4px;
  background-color: #e8ffff;
  -webkit-transition: .4s;
  transition: .4s;
  display: inline;
  text-align: center;
}
.slider:after {
  content: attr(text-after);
  opacity: 1;
  position: absolute;
  padding: 4px;
  width: 45%;
  left: 4px;
  bottom: 4px;
  background-color: #e8ffff;
  -webkit-transition: .4s;
  transition: .4s;
  display: inline;
  text-align: center;
}
input:checked + .slider {
  background-color: #1bbbbb;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1bbbbb;
}
input:checked + .slider:before {
  -webkit-transform: translateX(122px);
  -ms-transform: translateX(122px);
  transform: translateX(122px);
}
input:checked + .slider:after {
  -webkit-transform: translateX(122px);
  -ms-transform: translateX(122px);
  transform: translateX(122px);
  opacity: 0;
}
/* Rounded sliders */
.slider.round {
  border-radius: 5px;
}
.slider.round:before {
  border-radius: 5px;
}
.slider.round:after {
  border-radius: 5px;
}

@media only screen
  and (min-device-width: 50px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
  body {
    font-size: 25pt;
  }
  button {
    border: 5px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-top: 38px;
  }

  #container {
    width: 100%;
  }
}
